<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %contextName [%t] %level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>c:/work/temp/logback10.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name  = "VANILLA-CHRONICLE"
              class = "net.openhft.chronicle.logger.logback.BinaryIndexedChronicleAppender">
        <path>c:/work/temp/raw-bin-indexed-chronicle10</path>
        <formatMessage>false</formatMessage>
        <includeCallerData>false</includeCallerData>
        <includeMappedDiagnosticContext>false</includeMappedDiagnosticContext>

    </appender>

    <!--
    <logger name="com.github" >
        <appender-ref ref="VANILLA-CHRONICLE"/>
    </logger>
-->

    <root level="DEBUG">
       <appender-ref ref="VANILLA-CHRONICLE" />
       <!--<appender-ref ref="FILE" />-->
   </root>

</configuration>